In [258]:
import pandas as pd
import numpy as np

In [276]:
data_may_04_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190504.txt")
data_may_11_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190511.txt")
data_may_18_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190518.txt")
data_may_25_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190525.txt")
data_jun_06_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190601.txt")
data_jun_08_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190608.txt")
data_jun_15_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt")
data_apr_27_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190427.txt")

In [280]:
#all_data = pd.concat([data_may_04_19, data_may_11_19], ignore_index=True)
all_data = pd.concat([data_may_04_19, data_may_11_19, data_may_18_19, data_may_25_19, data_jun_06_19, data_jun_08_19, data_jun_15_19, data_apr_27_19], ignore_index=True)
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640586 entries, 0 to 1640585
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count    Dtype
---  ------                                                                --------------    -----
 0   C/A                                                                   1640586 non-null  object
 1   UNIT                                                                  1640586 non-null  object
 2   SCP                                                                   1640586 non-null  object
 3   STATION                                                               1640586 non-null  object
 4   LINENAME                                                              1640586 non-null  object
 5   DIVISION                                                              1640586 non-null  object
 6   DATE                                                                  1640586 non-null  object
 7   TIME                                                                  1640586 non-null  object
 8   DESC                                                                  1640586 non-null  object
 9   ENTRIES                                                               1640586 non-null  int64
 10  EXITS                                                                 1640586 non-null  int64
dtypes: int64(2), object(9)
memory usage: 137.7+ MB

In [281]:
# Add new variables and sort
all_data = all_data[all_data['DESC'] == 'REGULAR']
all_data['datetime'] = pd.to_datetime(all_data['DATE'] + ' ' + all_data['TIME'])
all_data['turnstile'] = all_data['C/A'] + all_data['UNIT'] + all_data['SCP'] + all_data['STATION']
all_data.sort_values(by = ['turnstile', 'datetime'], inplace = True)

In [282]:
# Clean entry and exit data
all_data.rename(columns={'EXITS                                                               ': 'EXITS'}, inplace=True)
all_data['entries_diff'] = all_data.groupby('turnstile')['ENTRIES'].diff()
all_data['exits_diff'] = all_data.groupby('turnstile')['EXITS'].diff()
indexNames = all_data[(all_data['entries_diff'] <0 ) | (all_data['exits_diff'] < 0)].index
all_data_clean = all_data.drop(indexNames)
indexNames = all_data_clean[(all_data_clean['entries_diff'] > 10000 ) | (all_data_clean['exits_diff'] > 10000)].index
all_data_clean = all_data_clean.drop(indexNames)
all_data_clean.groupby(['STATION', 'DATE']).sum(['entries_diff', 'exits_diff']).sort_values('entries_diff', ascending = False)

all_data_clean['total_foot_traffic'] = all_data_clean['entries_diff'] + all_data_clean['exits_diff']
all_data_clean['day_of_week'] = all_data_clean['datetime'].dt.day_name()
all_data_clean.head(25)

In [303]:
df_weekday = all_data_clean.groupby(['STATION']).sum(['total_foot_traffic'])
df_weekday.sort_values(['total_foot_traffic'], ascending = False).head(50)

,ENTRIES,EXITS,entries_diff,exits_diff,total_foot_traffic
STATION,,,,,
34 ST-PENN STA,1285998395563,993084959313,8142689.0,7459363.0,15602052.0
GRD CNTRL-42 ST,485689607972,384323764199,7017451.0,6118921.0,13136372.0
34 ST-HERALD SQ,715776946321,646136549311,5692305.0,5387359.0,11079664.0
14 ST-UNION SQ,240992656454,126495142802,5091185.0,4716003.0,9807188.0
TIMES SQ-42 ST,1408578778747,1095028029137,4973233.0,4669469.0,9642702.0
23 ST,1225237560131,967274027281,5409137.0,3918826.0,9327963.0
FULTON ST,1539172005149,1567829710034,4625623.0,3920934.0,8546557.0
42 ST-PORT AUTH,1240133395722,875041240187,4561440.0,3912910.0,8474350.0
86 ST,175070995042,139138830721,3988041.0,3765742.0,7753783.0
125 ST,1109742126684,713957446078,3686351.0,3156528.0,6842879.0
CANAL ST,786357066665,1242252022881,3612330.0,2934935.0,6547265.0
59 ST COLUMBUS,1142321221007,1001502007380,3595815.0,2941061.0,6536876.0
47-50 STS ROCK,768054540156,766024230834,2828958.0,2913738.0,5742696.0
96 ST,315008106063,59518573505,3174298.0,2537578.0,5711876.0
59 ST,129854087470,71956126686,3047851.0,2623307.0,5671158.0
14 ST,415420103879,195457598713,2932167.0,2421183.0,5353350.0
FLUSHING-MAIN,73117671929,69913429263,2706627.0,2280689.0,4987316.0
CHAMBERS ST,1449569652436,893911456128,2705477.0,2110433.0,4815910.0
PATH NEW WTC,1405276088,1619335772,2486786.0,2270340.0,4757126.0
50 ST,135451490625,124699645682,2544878.0,2021634.0,4566512.0
JKSN HT-ROOSVLT,55516698252,41370215916,2571798.0,1952437.0,4524235.0
72 ST,551744017545,339351069401,2274971.0,2071959.0,4346930.0
28 ST,430876443418,545998686627,2276646.0,2052122.0,4328768.0
W 4 ST-WASH SQ,84753460977,39957864595,2218250.0,2007635.0,4225885.0
ATL AV-BARCLAY,313566064413,91769005504,2183175.0,2015855.0,4199030.0
LEXINGTON AV/53,793169749688,611691003005,1855750.0,1967544.0,3823294.0
7 AV,77886389876,51825009312,1972454.0,1763760.0,3736214.0
WALL ST,204213604566,126537830552,2005127.0,1726517.0,3731644.0
42 ST-BRYANT PK,560037403083,406962557827,1810913.0,1733090.0,3544003.0
145 ST,320075371518,667128323241,1764809.0,1531994.0,3296803.0
8 AV,68610335596,32095283594,1810269.0,1384697.0,3194966.0
JAY ST-METROTEC,185111386386,27449789653,1951632.0,1215246.0,3166878.0
CHURCH AV,444995597917,582260690283,1777085.0,1302641.0,3079726.0
57 ST-7 AV,21980443004,8938755131,1732543.0,1324091.0,3056634.0
77 ST,97435686757,40958909570,1518945.0,1330722.0,2849667.0
72 ST-2 AVE,46046381455,5938665355,1498117.0,1322704.0,2820821.0
JAMAICA CENTER,49384880027,30743517761,1538496.0,1230961.0,2769457.0
BOROUGH HALL,67860299958,22469447145,1650811.0,1116994.0,2767805.0
BOWLING GREEN,798774029861,538787751129,1389061.0,1282872.0,2671933.0
116 ST,198655207701,192893670235,1658707.0,975606.0,2634313.0
JOURNAL SQUARE,1563079872,894384240,1271868.0,1322104.0,2593972.0
B'WAY-LAFAYETTE,666236233967,541381270957,1110216.0,1482363.0,2592579.0
5 AV/53 ST,35890225610,40059878351,1218022.0,1343608.0,2561630.0
103 ST,60817514365,215653679397,1491634.0,1056511.0,2548145.0
GRAND ST,28243636556,25771640049,1413238.0,1124415.0,2537653.0
KINGS HWY,726124486863,697267839245,1335939.0,1179624.0,2515563.0
DELANCEY/ESSEX,25582312454,21695375981,1393185.0,1079619.0,2472804.0
KEW GARDENS,37768679698,32733031884,1217797.0,1227291.0,2445088.0
33 ST,176698441743,67020675325,1298327.0,1038098.0,2336425.0
CROWN HTS-UTICA,79363589543,31421935121,1285254.0,996583.0,2281837.0

In [128]:
# check to see if number of distinct turnstiles matches the number that were filled in as 'First'
all_data['turnstile'].nunique()
# Number of distinct turnstiles matches number of 'First' entries

4853

In [171]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410945 entries, 0 to 410944
Data columns (total 15 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   index                                                                 410945 non-null  int64
 1   C/A                                                                   410945 non-null  object
 2   UNIT                                                                  410945 non-null  object
 3   SCP                                                                   410945 non-null  object
 4   STATION                                                               410945 non-null  object
 5   LINENAME                                                              410945 non-null  object
 6   DIVISION                                                              410945 non-null  object
 7   DATE                                                                  410945 non-null  object
 8   TIME                                                                  410945 non-null  object
 9   DESC                                                                  410945 non-null  object
 10  ENTRIES                                                               410945 non-null  int64
 11  EXITS                                                                 410945 non-null  int64
 12  datetime                                                              410945 non-null  datetime64[ns]
 13  turnstile                                                             410945 non-null  object
 14  entries_diff                                                          406092 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(10)
memory usage: 47.0+ MB

In [166]:
all_data[all_data['datetime'] == '2019-05-03 16:00:00']

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime,turnstile,entries_diff
42,42,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,16:00:00,REGULAR,7043403,2387631,2019-05-03 16:00:00,A002R05102-00-0059 ST,354.0
128,86,A002,R051,02-00-01,59 ST,NQR456W,BMT,05/03/2019,16:00:00,REGULAR,6274905,1407361,2019-05-03 16:00:00,A002R05102-00-0159 ST,257.0
214,130,A002,R051,02-03-00,59 ST,NQR456W,BMT,05/03/2019,16:00:00,REGULAR,1227185,4614921,2019-05-03 16:00:00,A002R05102-03-0059 ST,114.0
300,174,A002,R051,02-03-01,59 ST,NQR456W,BMT,05/03/2019,16:00:00,REGULAR,1089998,1682197,2019-05-03 16:00:00,A002R05102-03-0159 ST,316.0
386,218,A002,R051,02-03-02,59 ST,NQR456W,BMT,05/03/2019,16:00:00,REGULAR,6174151,8325268,2019-05-03 16:00:00,A002R05102-03-0259 ST,291.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409056,205362,S101,R070,00-00-08,ST. GEORGE,1,SRT,05/03/2019,16:00:00,REGULAR,2332483,9196,2019-05-03 16:00:00,S101R07000-00-08ST. GEORGE,32.0
409156,205417,S101,R070,00-03-00,ST. GEORGE,1,SRT,05/03/2019,16:00:00,REGULAR,4745077,4495,2019-05-03 16:00:00,S101R07000-03-00ST. GEORGE,112.0
409256,205472,S101,R070,00-03-01,ST. GEORGE,1,SRT,05/03/2019,16:00:00,REGULAR,1545817,101,2019-05-03 16:00:00,S101R07000-03-01ST. GEORGE,88.0
409356,205527,S101,R070,00-03-02,ST. GEORGE,1,SRT,05/03/2019,16:00:00,REGULAR,1494011,100,2019-05-03 16:00:00,S101R07000-03-02ST. GEORGE,85.0
409456,205582,S101,R070,00-03-03,ST. GEORGE,1,SRT,05/03/2019,16:00:00,REGULAR,1698202,260,2019-05-03 16:00:00,S101R07000-03-03ST. GEORGE,111.0

In [170]:
all_data['DESC'].unique()

array(['REGULAR', 'RECOVR AUD'], dtype=object)